.wrapper{
    width:420px;
    background:transparent;
    border:2px solid rgba(255,255,255,.2);  
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    backdrop-filter: blur(30px);
    color:#fff;
    border-radius: 10px;
    padding: 30px 40px;
}



.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position:relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input{
    width:100%;
    height: 100%;
    background: transparent;
    outline:none;
    border:2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color:#fff;
    padding:20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box .icon{
    position:absolute;
    right:20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.error{
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}

form{
    display:flex;
    flex-direction: column;
}

p {
    margin-top: 10px;
    font-size: 14px;
}

/* Additional styles for lockout message */
.lockout-section {
    margin-top: 10px;
}

.lockout-message {
    color: red;
    font-weight: bold;
    margin-bottom: 5px;
}

.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
}

.progress {
    height: 100%;
    background-color: #ff4d4d;
    transition: width 1s linear;
}